asgiref==3.8.1
Django==5.0.4
sqlparse==0.5.0
APScheduler==3.10.4
black==24.3.0
click==8.1.7
django-apscheduler==0.6.2
flake8==7.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.3
six==1.16.0
tzlocal==5.2
